PORT=3000

# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_SUPABASE_URL=

# supabase storage
SUPABASE_LINK=
SUPABASE_ANON_KEY= 

JWT_SECRET=
RESET_SECRET=

SMTP_USER=
SMTP_PASSWORD=